@model Otlobly.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div class="col-4">
    @{
        var base64 = Convert.ToBase64String(Model.Item.Image);
        var imgsrc = String.Format("data:image/jpeg;base64,{0}", base64);
    }
    <img src="@imgsrc" height="200" width="200" />
   
</div>

<form asp-action="Details" method="post">
    <div class="row">
        <input type="hidden" asp-for="Item_Id" />
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="col-8">
        <div class="row">
            <label asp-for="Item.Title">Product Name : @Model.Item.Title</label>
        </div>
        <div class="row">
            <label asp-for="Item.Description">Item Description : @Html.Raw(Model.Item.Description)</label>
        </div>
        <div class="row">
            <label asp-for="Item.Price">Item Price : @Model.Item.Price.ToString() </label>
        </div>
        <div class="row">
            <label asp-for="Item.Category.Id">Item Category : @Model.Item.Category.Title</label>
        </div>
        <div class="row">
            <label asp-for="Item.Category.Id">Item Sub Category : @Model.Item.SubCategory.Title</label>
        </div>
        <div class="row">
            <label asp-for="count">Count</label>
            <input asp-for="count" /><br />
        </div>
        <div class="row">
           @*  <a asp-action="Index" asp-controller="Cart" class="btn btn-primary">Add to Cart</a><br /> *@
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</form>

@* 
@model Otlobly.Models.Cart

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

@if (ViewContext.HttpContext.Request.Method == "GET")
{
    <form method="post">
        <div class="row">
            <div class="col-4">
                <img src="@Model.Item.Image" width="200" height="200" />
                <input type="hidden" asp-for="Item_Id" />
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <label asp-for="Item.Title">Product Name : @Model.Item.Title</label>
            </div>
            <div class="row">
                <label asp-for="Item.Description">Item Description : @Html.Raw(Model.Item.Description)</label>
            </div>
            <div class="row">
                <label asp-for="Item.Price">Item Price : @Model.Item.Price.ToString() </label>
            </div>
            <div class="row">
                <label asp-for="Item.Category.Id">Item Category : @Model.Item.Category.Title</label>
            </div>
            <div class="row">
                <label asp-for="Item.Category.Id">Item Sub Category : @Model.Item.SubCategory.Title</label>
            </div>
            <div class="row">
                <label asp-for="count">Count</label>
                <input asp-for="count" /><br />
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </form>
}
else if (ViewContext.HttpContext.Request.Method == "POST")
{
    <div class="row">
        <div class="col-12">
            <p>Item added to cart successfully.</p>
            <!-- You can add any additional message or redirect the user here -->
        </div>
    </div>
} *@
