@model IEnumerable<Otlobly.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<style>

    th {
        text-align: center;
    }
</style>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <h1>Index</h1>
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered" id="itemTable">
                <thead class="table-dark">
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.Raw(Html.Encode(item.Description).Replace("\n", "<br />"))</td>
                            <td>@Html.DisplayFor(modelItem => item.price)</td>
                            <td>
                                <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Image)}")" class="img-fluid img-thumbnail" alt="Responsive image">
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.CategoryTitle)</td>
                            <td>@Html.DisplayFor(modelItem => item.SubCategoryTitle)</td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
