@using Microsoft.AspNetCore.Identity
@model Otlobly.ViewModels.CardOrderViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/Logo Otlobly.png" type="">

    <title>@ViewData["Title"] - Otlobly</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- Owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- Nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- Font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style1.css" rel="stylesheet" />
    <!-- Responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS0zKQAXLv/a8kc9zBO1BM3n5VY5H13UyjAVC+fAC+e+0x/8w44b" crossorigin="anonymous">
    <!-- Add this line in your HTML head section -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        <style >
        /* Styles for the entire page */
        /* Change background color of the box */
        .box {
            background-color: #6c757d;
            background-color: #222831;
            border: 1px solid #6c757d;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        row d-flex justify-content-between align-items-center {
            background-color: #222831;
        }

        .food_section .box .img-box {
            background-color: #222831;
        }

        h2 {
            color: wheat;
        }

        /* Enlarge the image */
        .img-box img {
            width: 100%; /* Take up full width of container */
            height: auto; /* Maintain aspect ratio */
            border-radius: 10px; /* Rounded corners */
        }

        #magedo {
            background-color: #222831
        }
    </style>

    </style>

</head>

<body>
    <section class="hero_area">
        <div class="bg-box">
            <img src="~/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section starts -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="~/">
                        <span>Otlobly</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Menu</a>
                            </li>
                            <li class="nav-item" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">cart</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="Identity" asp-controller="Account" asp-action="Register" class="order_online">Register</a>
                                <a href="/Identity/Account/Login" class="order_online">Login</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark order_online" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                    <i class="fa fa-shopping-cart"></i> @await Component.InvokeAsync("Cart")
                                </a>

                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="form-inline">
                                    <button type="submit" class="order_online">Logout</button>
                                </form>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- main content section starts -->

        <section class="food_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2>Shopping Cart</h2>
                </div>
                <div class="filters-content">
                    <div class="row">

                        @if (Model.ListOfCard.Count > 0)
                        {
                            foreach (var cart in Model.ListOfCard)
                            {
                                <div class="col-12">
                                    <div class="box">
                                        <div class="row d-flex justify-content-between align-items-center" id="magedo">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <div class="img-box">
                                                    @{
                                                        var base64 = Convert.ToBase64String(cart.Item.Image);
                                                        var imgsrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                                    }
                                                    <img src="@imgsrc" class="img-fluid rounded-3" alt="Item Image" />
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                <div class="detail-box">
                                                    <h5>@cart.Item.Title</h5>
                                                    <p><span class="text-muted">@Html.Raw(cart.Item.Description)</span></p>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                                                <h6 class="mb-0">$  @cart.Item.Price</h6> x <h6 class="mb-0">@cart.count</h6>
                                            </div>
                                            <div class="col-md-3 col-lg-2 col-xl-2 d-flex">
                                                <a asp-action="Plus" asp-route-id="@cart.Id" class="btn btn-link px-2">
                                                    <i class="fas fa-plus-circle fa-lg"></i>
                                                </a>
                                                <a asp-action="Minus" asp-route-id="@cart.Id" class="btn btn-link px-2">
                                                    <i class="fas fa-minus-circle fa-lg"></i>
                                                </a>

                                                <a asp-action="Delete" asp-route-id="@cart.Id" class="btn btn-link px-2">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 d-flex justify-content-between px-2">
                                <a asp-action="Summary" asp-controller="Cart" class="btn btn-success form-control">Summary</a>
                            </div>
                            <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 d-flex justify-content-between px-2">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">Back to Menu</a>
                            </div>

                        }
                        else
                        {
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    No items added to the shopping cart...
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- main content section ends -->

    </section>


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>
</html>