@model Otlobly.ViewModels.CardOrderViewModel
@using Microsoft.Extensions.Options
@inject IOptions<Otlobly.Utility.PaymentStatus> StripeOptions
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Order Summary";
    Layout = null; // Make sure to set the layout if necessary
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/Logo Otlobly.png" type="">

    <title>@ViewData["Title"] - Otlobly</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- Owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- Nice select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- Font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style1.css" rel="stylesheet" />
    <!-- Responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-DyZ88mC6Up2uqS0zKQAXLv/a8kc9zBO1BM3n5VY5H13UyjAVC+fAC+e+0x/8w44b" crossorigin="anonymous">
    <style>
        /* Styles for the entire page */
        /* Change background color of the box */
        .box {
            background-color: #6c757d;
            background-color: #222831;
            border: 1px solid #6c757d;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .row.d-flex.justify-content-between.align-items-center {
            background-color: #222831;
        }

        .food_section .box .img-box {
            background-color: #222831;
        }

        h2, h4 {
            color: wheat;
        }

        /* Enlarge the image */
        .img-box img {
            width: 100%; /* Take up full width of container */
            height: auto; /* Maintain aspect ratio */
            border-radius: 10px; /* Rounded corners */
        }

        #magedo {
            background-color: #222831;
        }
    </style>
</head>
<body>
    <section class="hero_area">
        <div class="bg-box">
            <img src="~/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section starts -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="~/">
                        <span>Otlobly</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Menu</a>
                            </li>
                            <li class="nav-item" asp-area="Admin" asp-controller="Order" asp-action="Index">
                                <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">cart</a>
                            </li>
                        </ul>
                        <div class="user_option">
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="Identity" asp-controller="Account" asp-action="Register" class="order_online">Register</a>
                                <a href="/Identity/Account/Login" class="order_online">Login</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark order_online" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                    <i class="fa fa-shopping-cart"></i> @await Component.InvokeAsync("Cart")
                                </a>

                                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="form-inline">
                                    <button type="submit" class="order_online">Logout</button>
                                </form>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->

        <!-- main content section starts -->
        <section class="food_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2>Order Summary</h2>
                </div>
                <div class="filters-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="box">
                                <div class="row d-flex justify-content-between align-items-center" id="magedo">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">Delivery Details:</span>
                                        </h4>
                                        <form method="post" asp-action="Summary">
                                            <div class="row my-1">
                                                <div class="col-3">
                                                    <label>Name</label>
                                                </div>
                                                <div class="col-9">
                                                    <input asp-for="OrderHeader.Name" type="text" class="form-control" />
                                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row my-1">
                                                <div class="col-3">
                                                    <label>Phone</label>
                                                </div>
                                                <div class="col-9">
                                                    <input asp-for="OrderHeader.Phone" type="text" class="form-control" />
                                                    <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row my-1">
                                                <div class="col-3">
                                                    <label>Street Address</label>
                                                </div>
                                                <div class="col-9">
                                                    <input asp-for="OrderHeader.ApplicationUser.Address" type="text" class="form-control" />
                                                    <span asp-validation-for="OrderHeader.ApplicationUser.Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row my-1">
                                                <div class="col-3">
                                                    <label>City</label>
                                                </div>
                                                <div class="col-9">
                                                    <input asp-for="OrderHeader.ApplicationUser.City" type="text" class="form-control" />
                                                    <span asp-validation-for="OrderHeader.ApplicationUser.City" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="row my-1">
                                                <div class="col-3">
                                                    <label>Postal Code</label>
                                                </div>
                                                <div class="col-9">
                                                    <input asp-for="OrderHeader.ApplicationUser.PostalCode" type="text" class="form-control" />
                                                    <span asp-validation-for="OrderHeader.ApplicationUser.PostalCode" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                                <span class="text-info">Order Summary:</span>
                                            </h4>
                                            <ul class="list-group mb-3">
                                                @foreach (var details in Model.ListOfCard)
                                                {
                                                    <li class="list-group-item d-flex justify-content-between">
                                                        <div>
                                                            <h6 class="my-0">@details.Item.Title</h6>
                                                            <small class="text-muted">Quantity: @details.count</small>
                                                        </div>
                                                        <span class="text-muted">@((details.Item.Price) * details.count).ToString("c"))</span>
                                                    </li>
                                                }
                                                <li class="list-group-item d-flex justify-content-between bg-light">
                                                    <small class="text-info">Total:&nbsp;</small>
                                                    <strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
                                                </li>
                                            </ul>

                                            <div class="row">
                                                <div class="col-12 col-md-8 pt-2">
                                                    <p style="color:maroon; font-size:14px;">Estimate Arrival Date: @DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()</p>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <button type="submit" class="btn btn-success form-control">
                                                        <i class="bi bi-credit-card"></i>&nbsp; Place Order
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
                            <a asp-action="Index" asp-controller="Cart" class="btn btn-success form-control">Back to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main content section ends -->
    </section>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>
</body>
</html>
